---
layout: default
title: Tram Nguyen
---


<!-- One -->
	<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
		<div class="content">
			<h1> {{ site.homepage.section1.header }}</h1>
			<p class="major">{{ site.homepage.section1.sub_header}}</p>
			<ul class="actions stacked">
				<li><a href="#first" class="button big wide smooth-scroll-middle">{{ site.homepage.section1.button }}</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ site.homepage.section1.image.src }}" alt="{{ site.homepage.section1.image.alt }}" />
		</div>
	</section>

<!-- Two -->
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
		<div class="content">
			<h2>{{ site.homepage.section2.header }}</h2>
			<p>{{ site.homepage.section2.sub_header }}</p>
			<ul class="actions stacked">
				<li><a href="#" class="button">{{ site.homepage.section2.button }}</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ site.homepage.section2.image.src }}" alt="{{ site.homepage.section2.image.alt }}" />
		</div>
	</section>

<!-- Three -->
	<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
		<div class="content">
			<h2>{{ site.homepage.section3.header }}</h2>
			<p>{{ site.homepage.section3.sub_header }}</p>
			<ul class="actions stacked">
				<li><a href="#" class="button">{{ site.homepage.section3.button }}</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ site.homepage.section3.image.src }}" alt="{{ site.homepage.section3.image.alt }}" />
		</div>
	</section>

<!-- Four -->
	<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
		<div class="content">
            <h2>{{ site.homepage.section4.header }}</h2>
			<p>{{ site.homepage.section4.sub_header }}</p>
			<ul class="actions stacked">
				<li><a href="#" class="button">{{ site.homepage.section4.button }}</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ site.homepage.section4.image.src }}" alt="{{ site.homepage.section4.image.alt }}" />
		</div>
	</section>
	<!-- Five -->
		<section class="wrapper style1 align-center">
			<div class="inner">
				<h2>{{ site.homepage.section5.header }}</h2>
				<p>{{ site.homepage.section5.sub_header }}</p>
			</div>

			<!-- Gallery -->
				<div class="gallery style2 medium lightbox onscroll-fade-in">
					{% for article in site.homepage.section5.articles %}
						<article>
							<a href="{{ article.image.link }}" class="image">
								<img src="{{ article.image.src }}" alt="{{ article.image.alt }}" />
							</a>
							<div class="caption">
								<h3>{{ article.header }}</h3>
								<p>{{ article.sub_header }}</p>
								<ul class="actions fixed">
									<li><span class="button small">Details</span></li>
								</ul>
							</div>
						</article>
					{% endfor %}
				</div>

		</section>
