---
layout: default
---


<div id="main" class="blog-post-container">
    <div class="grid-container">
        <section id="two" class="grid-33 mobile-grid-100">
            <ul class="blog-post-list">
                {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section id="one" class="grid-66 mobile-grid-100">
            <div class="inner">
                <div class="blog-post-wrapper">
                    <h1> {{ page.title }}</h1>
                    {{ content }}
                </div>
            </div>
        </section>

    </div>

</div>
